* {
    margin: 0;
    padding: 0;
}
a {
    color: #fff;
    text-decoration: none;
}
body {
    color: #fff;
    font-family: "NexonLv1Gothic";
    font-weight: 300;
    background-color: #242020;
}

/* parallax__cont */
#parallax__cont {
    overflow: hidden;
}
.parallax__item {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#section1,
#section2,
#section3, 
#section4,
#section5, 
#section6,
#section7, 
#section8,
#section9{
    background-color: #242020;
}


/* section1 */
#section1{position: relative;}

/* section2 */
#section2{position: relative;}

/* section3 */
#section3{position: relative;}

/* section4 */
#section4{position: relative;}

/* section5 */
#section5{position: relative;}

/* section6 */
#section6{position: relative;}

/* section7 */
#section7{position: relative;}

/* section8 */
#section8{position: relative;}

/* section9 */
#section9{position: relative;}